body {
    background-color: red !important;
    // color: green !important;

    .container {
        width: 100px;
        margin: 0 auto;
    }

    .row {
        display: flex;
        align-items: center;
    }
}