// ************************* COLOR ************************
$backgroundColor: #24252D;
$colorPink: #bb92e5;
$colorBlue: #5789ff;
$colorGreen: #99d5ae;
$colorWhite: #fff;

body {
    color: $colorWhite;
    width: 100%;
    overflow-x: hidden;
    background-color: $backgroundColor;
    font-family: 'Poppins', sans-serif;
    background: #24252D;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin-bottom: 0 !important;
    }

    a {
        text-decoration: none;
        color: #000;
        outline: none !important;

        &:hover {
            text-decoration: none !important;
            color: #666;
        }
    }

    ul,
    li {
        list-style: none;
        margin: 0;
        padding: 0 !important;
    }

    .card {
        background-color: transparent;
        padding: 0;

        .card-body {
            background-color: transparent;
            padding: 0;
        }
    }

    .myBtn {
        transition: all .7s ease-in-out;
        cursor: pointer;
        font-weight: 500;
        position: relative;
        overflow: hidden;

        &::after {
            content: '';
            position: absolute;
            background-color: $colorWhite;
            transform: translateY(100px) rotate(10deg);
            width: 200%;
            height: 200%;
            left: -50px;
            top: -15px;
            transition: all .5s ease-in-out;
        }

        &::before {
            content: 'Get started';
            font-size: 14px;
            font-weight: 700;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .5s ease-in-out;
            opacity: 0;
            transform: translateY(10px);
            color: $backgroundColor;
        }

        &:hover {
            // transform: translateY(-3px);

            &::after {
                transform: translateY(0) rotate(10deg);
            }

            &::before {
                opacity: 1;
                z-index: 2;
                transform: translateY(0);
            }
        }
    }

    .loader {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        z-index: 9999;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }

    .navbarLine {
        padding-top: 100px;
    }

    .navBar {
        padding: 20px 0;
        box-shadow: 0 0 10px silver;
        background-color: #fff;
        color: #000;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99999;
        transition: all .9s linear;
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        user-select: none;


        h6,
        b {
            transition: all .9s linear;
        }

        ul {

            .myLi {
                position: relative;

                .myA {
                    transition: all .9s linear !important;
                    position: relative;

                    &::after {

                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        background-color: #DE1E3A;
                        left: 0;
                        bottom: -10px;
                        transform: scaleX(0);
                        transform-origin: left;
                        transition: all 0.5s ease;
                    }


                    &.navlinkActive,
                    &:hover {

                        &::after {
                            transform: scaleX(1);
                            transform-origin: right;
                            background-color: #DE1E3A;
                        }

                    }
                }
            }
        }

        &.navbarActive {
            background-color: #0000000d;
            color: $colorWhite;
            padding: 5px 0;

            a {
                color: $colorWhite;
            }
        }
    }

    .header {
        position: relative;

        .secondi {
            position: absolute;
            top: 0;
            z-index: -1;
            left: 1px;
        }

        .myBtn {
            color: $colorWhite;
            padding: 10px 30px;
            margin-top: 20px;
            font-size: 14px;
            font-weight: 700;
            padding: 12px 45px;
            border: 2px solid $colorBlue;
            background: transparent;
        }

        i {
            img {
                transform: translate(-135px, 60px);
            }
        }

        p {
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            color: #c9c9c9;
            width: 85%;
            margin-top: 25px;
            margin-bottom: 65px !important;
        }

        h1 {
            font-weight: 600;
            font-size: 48px;
            line-height: 82px;
            color: $colorBlue;
            margin-top: 150px;
        }

        video {
            position: absolute;
            z-index: -1;
        }

    }

    .services {
        user-select: none;
        padding-top: 100px;
        position: relative;

        h4 {
            margin: 20px 0 80px 0 !important;
            color: $colorBlue;
            font-weight: bold;
            font-size: 38px;
        }

        .card {
            width: 25%;
            transition: .5s ease;
            z-index: 1;

            .card-body {

                i {
                    position: absolute;
                    z-index: -1;

                    img {
                        transition: all .5s ease;
                        opacity: 0.3;
                    }
                }

                p {
                    transition: all .5s ease;
                    transform: translateY(200px);
                    opacity: 0;
                    width: 80%;
                    margin: 0 auto;
                    text-align: center;
                    color: #eee;
                    font-size: 14px;
                }

                h5 {
                    text-align: center;
                    font-weight: 500;
                    font-size: 17px;
                    text-transform: uppercase;
                    transition: all .5s ease;
                    transform: translateY(150px);
                    width: 80%;
                    margin: 0 auto;
                    text-align: center;
                }
            }


            &:hover {
                width: 35%;
                transform: translateY(-60px);
                z-index: 2;
                cursor: pointer;

                i {
                    img {
                        opacity: 1;
                    }
                }



                h5 {
                    font-size: 22px;
                    transform: translateY(100px);
                }

                p {
                    opacity: 1;
                    transform: translateY(125px);
                    font-weight: 400;
                    font-size: 15px;
                }
            }
        }
    }

    .servicesLine {
        margin-bottom: 400px;
    }

    .portfolio {}




    // .div {
    //     animation: anim 10s linear infinite;
    //     ul {
    //         white-space: nowrap;
    //         overflow: hidden;
    //     }
    // }
}




@keyframes anim {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-50%, 0, 0);
    }
}